@-webkit-keyframes PagefadeIn {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes PagefadeIn {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes loading {
  to {
    transform: rotate(1turn);
  }
}
@keyframes loading {
  to {
    transform: rotate(1turn);
  }
}
@-webkit-keyframes hide {
  to {
    opacity: 0;
  }
}
@keyframes hide {
  to {
    opacity: 0;
  }
}
@-webkit-keyframes hearts {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes hearts {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes bigger {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
@keyframes bigger {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
@-webkit-keyframes heartsOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes heartsOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes menuAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes menuAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body {
  position: relative;
  font-family: roboto;
  font-size: 4vw;
}

span {
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 4px;
}

body .spinContainer {
  padding-top: 29vh;
  height: 100vh;
  -webkit-animation: hide 0.1s linear 2.3s 1 forwards;
          animation: hide 0.1s linear 2.3s 1 forwards;
  position: fixed;
  left: 45%;
}
body .spinContainer .spinner {
  display: flex;
  justify-content: center;
  width: 100px;
  height: 100px;
  border: 20px solid #f3f3f3;
  border-top: solid 20px #9356DC;
  border-radius: 50%;
  -webkit-animation: loading 1.5s linear infinite;
          animation: loading 1.5s linear infinite;
  margin: auto;
}

.homePageFooter {
  position: relative;
  bottom: 0px;
  margin-top: 0;
}

footer {
  background-color: #000000c4;
  color: white;
  padding: 15px 20px 10px 20px;
  font-size: 0.7em;
  margin-top: -76px;
}
footer .contact {
  color: white;
  text-decoration: none;
}
@media (min-width: 1200px) {
  footer {
    font-size: 20px;
  }
}
footer p {
  margin-top: 0px;
  margin-bottom: 17px;
}
footer .footerLogo {
  font-family: shrikhand;
}
footer div {
  display: flex;
  flex-direction: row;
}
footer div p {
  margin-left: 12px;
}

body .homePageContainer {
  -webkit-animation-name: PagefadeIn;
          animation-name: PagefadeIn;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  max-width: 1000px;
  margin: auto;
  position: relative;
}
@media (min-width: 1000px) {
  body .homePageContainer {
    font-size: 30px;
  }
}
body .homePageContainer header {
  font-family: shrikhand;
}
body .homePageContainer header h1 {
  text-align: center;
  margin-bottom: 6px;
}

body .homePageContainer .sectionOne {
  background-color: #f3f3f3;
}
body .homePageContainer .sectionOne .location {
  background-color: #e4e4e4;
  display: flex;
  justify-content: center;
  border-top: solid #80808036;
}
body .homePageContainer .sectionOne .location i {
  margin: 4vw 4vw 0vw 0vw;
}
@media (min-width: 1000px) {
  body .homePageContainer .sectionOne .location i {
    margin: 31px 28px 0vw 0vw;
  }
}
body .homePageContainer .sectionOne .discover {
  text-align: center;
  padding: 3vw 2vw 8vw 2vw;
}
@media (min-width: 1000px) {
  body .homePageContainer .sectionOne .discover {
    padding: 0 2vw 71px 2vw;
  }
}
body .homePageContainer .sectionOne .discover h2 {
  margin-bottom: 5vw;
}
@media (min-width: 1000px) {
  body .homePageContainer .sectionOne .discover h2 {
    margin-bottom: 45px;
  }
}
body .homePageContainer .sectionOne .discover p {
  margin: 0px;
}
body .homePageContainer .sectionOne .discover button {
  background-image: linear-gradient(#FF79DA, #9356DC);
  border: none;
  padding: 2.5vw;
  border-radius: 5vw;
  margin-top: 6vw;
  color: white;
  font-weight: 600;
  font-size: 0.8em;
  cursor: pointer;
}
body .homePageContainer .sectionOne .discover button:hover {
  opacity: 0.8;
}
@media (min-width: 1000px) {
  body .homePageContainer .sectionOne .discover button {
    padding: 30px;
    margin-top: 65px;
  }
}

body .homePageContainer .sectionTwo h2 {
  margin-left: 3vw;
}
@media (min-width: 1000px) {
  body .homePageContainer .sectionTwo h2 {
    margin: 25px 0px 25px 10px;
  }
}
body .homePageContainer .sectionTwo div {
  background-color: #f3f3f3;
  display: flex;
  font-weight: 600;
  width: 90%;
  margin: auto;
  border-radius: 5vw;
  margin-bottom: 6vw;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
@media (min-width: 1000px) {
  body .homePageContainer .sectionTwo div {
    border-radius: 31px;
    margin-bottom: 40px;
  }
}
body .homePageContainer .sectionTwo div .numbers {
  background-color: #9356DC;
  border-radius: 6vw;
  padding: 1vw 2vw;
  color: white;
  position: relative;
  bottom: 1vw;
  right: 2.5vw;
}
@media (min-width: 1000px) {
  body .homePageContainer .sectionTwo div .numbers {
    padding: 10px 20px;
  }
}
body .homePageContainer .sectionTwo div i {
  margin: 5vw 3vw 0vw 1vw;
  color: gray;
}
@media (min-width: 1000px) {
  body .homePageContainer .sectionTwo div i {
    margin: 40px 3vw 0vw 10px;
  }
}
body .homePageContainer .sectionTwo div .fas.fa-store {
  color: #9356DC;
}
body .homePageContainer .sectionTwo div p {
  margin: 5vw 0vw 4vw 0vw;
}
@media (min-width: 1000px) {
  body .homePageContainer .sectionTwo div p {
    margin: 40px 0vw 15px 0vw;
  }
}

body .homePageContainer .sectionThree {
  background-color: #f3f3f3;
  padding-bottom: 15px;
}
@media (min-width: 1000px) {
  body .homePageContainer .sectionThree {
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 10px;
    margin-top: 45px;
  }
}
body .homePageContainer .sectionThree .restaurantHeader {
  padding: 5vw 0vw 0vw 5vw;
  font-size: 6.5vw;
}
@media (min-width: 1000px) {
  body .homePageContainer .sectionThree .restaurantHeader {
    width: 100%;
    padding: 0px 0vw 0vw 43px;
    font-size: 64px;
  }
}
body .homePageContainer .sectionThree .restaurantCard {
  width: 90%;
  margin: auto;
  position: relative;
  margin-bottom: 5vw;
  text-decoration: none;
  color: black;
}
@media (min-width: 1000px) {
  body .homePageContainer .sectionThree .restaurantCard {
    width: 47%;
  }
}
body .homePageContainer .sectionThree .restaurantCard .imageBoxOne {
  width: 100%;
  height: 0px;
  border-radius: 5vw 5vw 0px 0px;
  padding-top: 50%;
  background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  background-size: 100% 100%;
}
@media (min-width: 1000px) {
  body .homePageContainer .sectionThree .restaurantCard .imageBoxOne {
    border-radius: 25px 25px 0px 0px;
  }
}
body .homePageContainer .sectionThree .restaurantCard .imageBoxTwo {
  width: 100%;
  height: 0px;
  border-radius: 5vw 5vw 0px 0px;
  padding-top: 50%;
  background-image: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  background-size: 100% 100%;
}
@media (min-width: 1000px) {
  body .homePageContainer .sectionThree .restaurantCard .imageBoxTwo {
    border-radius: 25px 25px 0px 0px;
  }
}
body .homePageContainer .sectionThree .restaurantCard .imageBoxThree {
  width: 100%;
  height: 0px;
  border-radius: 5vw 5vw 0px 0px;
  padding-top: 50%;
  background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  background-size: 100% 100%;
}
@media (min-width: 1000px) {
  body .homePageContainer .sectionThree .restaurantCard .imageBoxThree {
    border-radius: 25px 25px 0px 0px;
  }
}
body .homePageContainer .sectionThree .restaurantCard .imageBoxFour {
  width: 100%;
  height: 0px;
  border-radius: 5vw 5vw 0px 0px;
  padding-top: 50%;
  background-image: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  background-size: 100% 100%;
}
@media (min-width: 1000px) {
  body .homePageContainer .sectionThree .restaurantCard .imageBoxFour {
    border-radius: 25px 25px 0px 0px;
  }
}
body .homePageContainer .sectionThree .restaurantCard .new {
  position: relative;
  color: green;
  background-color: #99E2D0;
  padding: 1vw 6vw;
  border-radius: 0.5vw;
  float: right;
  z-index: 99;
  position: relative;
  top: 35px;
  right: 40px;
  margin-top: 0px;
}
@media (max-width: 700px) {
  body .homePageContainer .sectionThree .restaurantCard .new {
    top: 17px;
    right: 20px;
  }
}
@media (min-width: 1000px) {
  body .homePageContainer .sectionThree .restaurantCard .new {
    padding: 10px 38px;
    top: 16px;
    right: 33px;
    font-size: 26px;
  }
}
body .homePageContainer .sectionThree .restaurantCard .restaurantInfo {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: white;
  padding: 0vw 3vw;
  font-size: 4vw;
  border-radius: 0 0 5vw 5vw;
  margin-bottom: 50px;
}
@media (min-width: 1000px) {
  body .homePageContainer .sectionThree .restaurantCard .restaurantInfo {
    padding: 1px 14px;
    font-size: 30px;
    margin-bottom: 0px;
    border-radius: 0 0 25px 25px;
  }
}
body .homePageContainer .sectionThree .restaurantCard .restaurantInfo .iconContainer {
  display: flex;
  justify-content: flex-end;
  position: relative;
}
body .homePageContainer .sectionThree .restaurantCard .restaurantInfo .iconContainer .fas.fa-heart {
  align-self: flex-end;
  font-size: 7vw;
  margin-right: 5vw;
  position: absolute;
  opacity: 0;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
body .homePageContainer .sectionThree .restaurantCard .restaurantInfo .iconContainer .fas.fa-heart:hover {
  -webkit-animation-name: hearts;
          animation-name: hearts;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@media (min-width: 1000px) {
  body .homePageContainer .sectionThree .restaurantCard .restaurantInfo .iconContainer .fas.fa-heart {
    align-self: flex-end;
    font-size: 60px;
    margin-right: 14px;
    margin-bottom: 3px;
  }
}
body .homePageContainer .sectionThree .restaurantCard .restaurantInfo .iconContainer .far.fa-heart {
  align-self: flex-end;
  font-size: 6vw;
  margin-right: 5vw;
  opacity: 1;
  margin-bottom: 0.5vw;
  margin-right: 5.5vw;
}
@media (min-width: 1000px) {
  body .homePageContainer .sectionThree .restaurantCard .restaurantInfo .iconContainer .far.fa-heart {
    align-self: flex-end;
    font-size: 53px;
    margin-right: 18px;
    margin-bottom: 5px;
  }
}
body .homePageContainer .sectionThree .restaurantCard .restaurantInfo h3 {
  margin-bottom: 1vw;
  position: relative;
  top: 3vw;
  margin-top: 1.5vw;
}
@media (min-width: 1000px) {
  body .homePageContainer .sectionThree .restaurantCard .restaurantInfo h3 {
    margin-bottom: 5px;
    position: relative;
    top: 26px;
    margin-top: 5px;
  }
}
body .homePageContainer .sectionThree .restaurantCard .restaurantInfo p {
  margin-top: 1vw;
  font-weight: 400;
  position: relative;
  bottom: 4vw;
  margin-bottom: 1.5vw;
}
@media (min-width: 1000px) {
  body .homePageContainer .sectionThree .restaurantCard .restaurantInfo p {
    margin-top: 9px;
    font-weight: 400;
    position: relative;
    bottom: 30px;
    margin-bottom: 0px;
  }
}

.container {
  max-width: 1000px;
  margin: auto;
  position: relative;
}
@media (min-width: 1000px) {
  .container {
    font-size: 30px;
  }
}
.container header {
  font-family: shrikhand;
}
.container header .fas.fa-arrow-left {
  font-size: 165%;
  position: absolute;
  top: 9px;
  left: 30px;
  color: black;
}
.container header h1 {
  text-align: center;
  margin-bottom: 6px;
}
.container header .pic {
  width: 100%;
}
.container main {
  background-color: #f3f3f3;
  border-radius: 50px 50px 0px 0px;
  position: relative;
  bottom: 76px;
}
.container main .restaurantName {
  display: flex;
  justify-content: space-between;
}
.container main .restaurantName .iconContainer {
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: 5vw;
  right: 3vw;
}
@media (min-width: 1000px) {
  .container main .restaurantName .iconContainer {
    bottom: 33px;
    right: 102px;
  }
}
.container main .restaurantName .iconContainer .fas.fa-heart {
  align-self: flex-end;
  font-size: 9vw;
  margin-right: 5vw;
  position: absolute;
  opacity: 0;
  color: linear-gradient(#9356DC, #FF79DA);
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}
@media (min-width: 1000px) {
  .container main .restaurantName .iconContainer .fas.fa-heart {
    align-self: flex-end;
    font-size: 90px;
    margin-right: 10px;
  }
}
.container main .restaurantName .iconContainer .fas.fa-heart:hover {
  -webkit-animation-name: hearts;
          animation-name: hearts;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.container main .restaurantName .iconContainer .far.fa-heart {
  align-self: flex-end;
  font-size: 8vw;
  margin-right: 5.5vw;
  opacity: 1;
  margin-bottom: 0.3vw;
}
@media (min-width: 1000px) {
  .container main .restaurantName .iconContainer .far.fa-heart {
    align-self: flex-end;
    font-size: 83px;
    margin-right: 10px;
    margin-bottom: 3px;
    margin-right: 14px;
  }
}
.container main h2 {
  font-family: shrikhand;
  font-size: 2em;
  position: relative;
  top: 22px;
  left: 26px;
  margin-bottom: 50px;
}
.container main h3 {
  color: gray;
  margin-top: 10px;
  margin-left: 12px;
}

body .container .menuContainer {
  background-color: white;
  display: flex;
  margin: auto;
  margin-bottom: 5vw;
  border-radius: 4vw;
  width: 95%;
  height: 16vw;
  display: flex;
  flex-flow: column wrap;
  font-weight: 600;
  padding-left: 2.5vw;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
}
body .container .menuContainer:nth-child(2) {
  -webkit-animation-name: menuAnimation;
          animation-name: menuAnimation;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
body .container .menuContainer:nth-child(3) {
  -webkit-animation-name: menuAnimation;
          animation-name: menuAnimation;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}
body .container .menuContainer:nth-child(4) {
  -webkit-animation-name: menuAnimation;
          animation-name: menuAnimation;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}
@media (min-width: 1000px) {
  body .container .menuContainer {
    padding-left: 22px;
    align-content: space-between;
    margin-bottom: 32px;
    border-radius: 45px;
    height: 159px;
  }
}
body .container .menuContainer .dishName {
  font-size: 1em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
body .container .menuContainer .dishSubliner {
  font-weight: 300;
  width: 68vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media (min-width: 1000px) {
  body .container .menuContainer .dishSubliner {
    width: 764px;
  }
}
body .container .menuContainer p {
  margin: 0;
  padding-top: 2vw;
}
@media (min-width: 1000px) {
  body .container .menuContainer p {
    padding-top: 26px;
  }
}
body .container .menuContainer .price {
  height: 100%;
  align-self: flex-end;
  padding-top: 9vw;
  width: 10%;
}
@media (min-width: 1000px) {
  body .container .menuContainer .price {
    padding-top: 100px;
  }
}
body .container .menuContainer .greenCheck {
  background-color: #99E2D0;
  text-align: center;
  transform: translateX(0px);
  transition-duration: 0.5s;
  border-radius: 0vw 4vw 4vw 0vw;
  height: 100%;
  align-self: flex-end;
  width: 0%;
  position: relative;
  left: 15vw;
}
@media (min-width: 1000px) {
  body .container .menuContainer .greenCheck {
    border-radius: 0 45px 45px 0;
    width: 160px;
    position: relative;
    left: 160px;
  }
}
body .container .menuContainer .fas.fa-check {
  color: #99E2D0;
  background-color: white;
  color: #99E2D0;
  border-radius: 4vw;
  padding: 0.8vw;
  margin-top: 6vw;
  font-size: 3.5vw;
}
@media (min-width: 1000px) {
  body .container .menuContainer .fas.fa-check {
    padding: 10px;
    margin-top: 52px;
    font-size: 35px;
  }
}
body .container .menuContainer span {
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 4px;
}
body .container .menuContainer:hover {
  cursor: pointer;
}
body .container .menuContainer:hover .greenCheck {
  width: 15vw;
  transform: translateX(-15vw);
  transition: transform 0.5s ease-in-out;
  overflow: hidden;
}
@media (min-width: 1000px) {
  body .container .menuContainer:hover .greenCheck {
    width: 160px;
    transform: translateX(-160px);
  }
}
body .container .menuContainer:hover .greenCheck .fas.fa-check {
  display: inline-block;
  transform: rotate(360deg);
  transition: transform 400ms;
  transition-delay: 100ms;
}
@media (min-width: 1000px) {
  body .container .menuContainer:hover .dishName {
    width: 493px;
  }
}
body .container .menuContainer:hover .dishSubliner {
  width: 58vw;
}
@media (min-width: 1000px) {
  body .container .menuContainer:hover .dishSubliner {
    width: 493px;
  }
}
body .container .menuContainer:hover .price {
  position: relative;
  left: 3.5vw;
}
@media (min-width: 1000px) {
  body .container .menuContainer:hover .price {
    position: relative;
    left: 100px;
  }
}

body .container main .orderDiv {
  background-color: #f3f3f3;
  height: 115px;
  display: flex;
  justify-content: center;
}
body .container main .orderDiv button {
  background-image: linear-gradient(#FF79DA, #9356DC);
  border: none;
  padding: 2.5vw;
  border-radius: 5vw;
  margin-top: 6vw;
  color: white;
  font-weight: 600;
  font-size: 0.8em;
  cursor: pointer;
  padding: 2.5vw 8vw;
  margin-top: 0vw;
}
body .container main .orderDiv button:hover {
  opacity: 0.8;
}
@media (min-width: 1000px) {
  body .container main .orderDiv button {
    padding: 27px 70px;
    margin-top: 0px;
  }
}/*# sourceMappingURL=styles.css.map */