@mixin marginLeft{
    margin-left: 12px;
}
@mixin buttonStyles{
    background-image: linear-gradient($secondary, $primary);
    border: none;
    padding: 3vw;
    border-radius: 5vw;
    margin-top: 6vw;
    color: white;
    font-weight: 600;
    font-size: .8em;
    cursor: pointer;

    &:hover{
        opacity: .8;
    }
}
