body .homePageContainer{
    animation-name: PagefadeIn;
    animation-duration: 2.5s;
    max-width: 1000px;
    margin: auto;
    position: relative;

    @media(min-width: 1000px){
        font-size: 30px;
    }

    header{
        font-family: $fontOne;
        
        h1{
            text-align: center;
            margin-bottom: 6px;
        }
    }
}