
body{
    max-width: 1200px;
    margin: auto;
    position: relative;
    font-family: $fontTwo;
    font-size: 4vw;
    //Home Page
    .sectionOne{
        background-color: $bkgroundcolor;
        .location{
            background-color: #d5d5d5;
            display: flex;
            justify-content: center;
            i{
                margin: 4vw 4vw 0vw 0vw;
            }
        }
        .discover{
            text-align: center;
            padding: 3vw 2vw 8vw 2vw;
            h2{
                margin-bottom: 5vw;
            }
            p{
                margin: 0px;
            }
            button{
                @include buttonStyles;
            }
            
        }
    }
    .sectionTwo{
        h2{
            margin-left: 3vw;
        }
        div{
            background-color: $bkgroundcolor;
            display: flex;
            font-weight: 600;
            width: 90%;
            margin: auto;
            border-radius: 5vw;
            margin-bottom: 4vw;
           
            .numbers{
                background-color: #9356DC;
                border-radius: 6vw;
                padding: 1vw 2vw;
                color: white;
                position: relative;
                bottom: 1vw;
                right: 2.5vw;
            }

            i{
                margin: 5vw 3vw 0vw 1vw;
                color: gray;
            }
            .fas.fa-store{
                color: $primary;
            }
            p{
                margin: 5vw 0vw 4vw 0vw;
            }
        }
        
    }
    .sectionThree{
        background-color: $bkgroundcolor;
        padding-bottom: 7vw;

        .restaurantHeader{
            padding: 7vw 0vw 0vw 5vw;
            font-size: 6.5vw;
        }
        
        .restaurantCard{
            width: 90%;
            margin: auto;
            position: relative;
            margin-bottom: 5vw;
            text-decoration: none;
            color: black;

            .imageBox{
                width: 100%;
                height: 0px;
                border-radius: 5vw 5vw 0px 0px;
                padding-top: 50%;
              
            }
    

            .new{
                position: relative;
                color: green;
                background-color: #99E2D0;
                padding: 1vw 6vw;
                left: 394px;
                border-radius: 0.5vw;
                z-index: 999;
                bottom: 237px;
                display: inline-block;
            } 
            .restaurantInfo{
                display: flex;
                position: relative;
                flex-direction: column;
                background-color: white;
                padding: 0vw 3vw;
                font-size: 4vw;
                border-radius: 0 0 5vw 5vw;
            
                i {
                    align-self: flex-end;
                    font-size: 6vw;
                    margin-right: 5vw;
                }

                h3{
                    margin-bottom: 1vw;
                    position: relative;
                    top: 3vw;
                    margin-top: 1.5vw;
                }

                p{
                    margin-top: 1vw;
                    font-weight: 400;
                    position: relative;
                    bottom: 4vw;
                    margin-bottom: 1.5vw;
                }
                
            }
        
            
            
          
        
        }
        
    }
    .homePageFooter{
        position: static;
    }
    //Menu Pages
    header{
        font-family: $fontOne;
        .fas.fa-arrow-left{
            font-size: 165%;
            position: absolute;
            top: 9px;
            left: 30px;
            color: black;
        }
        h1{
            text-align: center;
            margin-bottom: 6px;
        }
        .pic{
            width: 100%;
            
        }
    }
    main{
        background-color: $bkgroundcolor;
        border-radius: 50px 50px 0px 0px;
        bottom: 76px;
        position: relative;
        .restaurantName{
            display: flex;
            justify-content: space-between;
        }
        
        h2{
            font-family: shrikhand;
            font-size: 2em;
            position: relative;
            top: 22px;
            left: 26px;
            margin-bottom: 50px;
        }
        
        .likedHeart{
            font-size: 2em;
            margin-top: 10vw;
            margin-right: 6vw;

            .far.fa-heart{
                color:black;
                &:hover{
                    background-image: linear-gradient($primary, $secondary);
                }
            }
            

        }
        h3{
            color:gray;
            margin-top: 10px;
            @include marginLeft();
        }
        .menuContainer{
            background-color: white;
            display: flex;
            margin: auto;
            margin-bottom: 5vw;
            border-radius: 4vw;
            width: 95%;
            height: 16vw;
            display: flex;
            flex-flow: column wrap;
            font-weight: 600;
            padding-left: 2.5vw;
            
            .dishName{
                // width: 100%;
                font-size: 1em;;

            }
            .dishSubliner{
                font-weight: 300;
                width: 68vw;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            p{
                margin: 0;
                padding-top: 2vw;
            }

            .price{
                height: 100%;
                align-self: flex-end;
                padding-top: 9vw;
                width: 10%;
            }
        
            .greenCheck{
                background-color: $tertiary;
                text-align: center;
                transform: scale(0,1);
                border-radius: 0vw 4vw 4vw 0vw;
                height: 100%;
                align-self: flex-end;
                width: 0%;

            .fas.fa-check{
                color: $tertiary;
                background-color: white;
                color: #99E2D0;
                border-radius: 4vw;
                padding: .8vw;
                margin-top: 6vw;
                font-size: 3.5vw;
            }
        }
        &:hover{
            cursor: pointer;

            .greenCheck{
                width: 15vw;
                transform-origin: right 50%;
                transform: scaleX(1); 
                transition: transform 500ms ease-in-out;

                .fas.fa-check{
                    display: inline-block;
                    transform: rotate(360deg);
                    transition: transform 400ms;
                    transition-delay: 100ms;
                }
            }

            .dishSubliner{
                width: 58vw;
            }

            .price{
                position: relative;
                left: 3.5vw;            }
        }
        }
        .orderDiv{
            background-color: $bkgroundcolor;
            height: 115px;
            display: flex;
            justify-content: center;
            button{
                background-image: linear-gradient($secondary, $primary);
                width: 145px;
                border: none;
                padding: 13px;
                border-radius: 19px;
                margin-top: 21px;
                color: white;
                font-weight: 600;
            }
        }
        span{
            border-bottom: 3px solid $tertiary;
            padding-bottom: 4px;
        }
    }
    footer{
        background-color: black;
        color: white;
        padding: 15px 20px 10px 20px;
        position: relative;
        bottom: 75px;
        p{
            margin-top: 0px;
            margin-bottom:10px;
        }
        .footerLogo{
            font-family: $fontOne;
        }
        div{
            display: flex;
            flex-direction: row;
            p{
                margin-left: 12px;
            }
        
        }
    }
}