@keyframes hide {
    to {
     opacity: 0;
    }
}
   
body{
    position: relative;
    font-family: $fontTwo;
    font-size: 4vw;

    .spinContainer{
        padding-top: 29vh;
        height: 100vh;
        animation: hide .1s linear 2.3s 1 forwards;
        position: absolute;
        left: 45%;
        
        .spinner{
            display:flex;
            justify-content: center;
            width: 100px;
            height: 100px;
            border: 20px solid $bkgroundcolor;
            border-top: solid 20px $primary;
            border-radius: 50%;
            animation: loading 1.5s linear infinite;
            margin: auto;
        }   
    }

     
    
    .container{
        max-width: 1000px;
        margin: auto;
        position: relative;
        animation-name: PagefadeIn;
        animation-duration: 2.5s;

        @media(min-width: 1000px){
            font-size: 30px;
        }
//Home Page
        .sectionOne{
            background-color: $bkgroundcolor;
            .location{
                background-color: #d5d5d5;
                display: flex;
                justify-content: center;
                i{
                    margin: 4vw 4vw 0vw 0vw;
                    @media (min-width: 1000px){
                        margin: 31px 28px 0vw 0vw;
                    }
                }
            }
            .discover{
                text-align: center;
                padding: 3vw 2vw 8vw 2vw;
                @media (min-width: 1000px) {
                    padding: 0 2vw 71px 2vw;
                }

                h2{
                    margin-bottom: 5vw;
                    @media(min-width: 1000px){
                        margin-bottom: 45px;
                    }
                }
                p{
                    margin: 0px;
                }
                button{
                    @include buttonStyles;
                    @media (min-width: 1000px){
                        padding: 30px;
                        margin-top: 65px;
                    }
                }
                
            }
        }
        .sectionTwo{
            h2{
                margin-left: 3vw;
                @media(min-width: 1000px){
                    margin: 25px 0px 25px 10px;
                }
            }
            div{
                background-color: $bkgroundcolor;
                display: flex;
                font-weight: 600;
                width: 90%;
                margin: auto;
                border-radius: 5vw;
                margin-bottom: 4vw;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                
                @media (min-width: 1000px) {
                    border-radius: 26px;
                    margin-bottom: 30px;
                }
            
                .numbers{
                    background-color: #9356DC;
                    border-radius: 6vw;
                    padding: 1vw 2vw;
                    color: white;
                    position: relative;
                    bottom: 1vw;
                    right: 2.5vw;
                    @media (min-width: 1000px){
                        padding: 10px 20px;
                    }
                }

                i{
                    margin: 5vw 3vw 0vw 1vw;
                    color: gray;

                    @media (min-width: 1000px){
                        margin: 35px 3vw 0vw 10px;
                    }
                }
                .fas.fa-store{
                    color: $primary;
                }
                p{
                    margin: 5vw 0vw 4vw 0vw;
                    @media (min-width: 1000px){
                        margin: 35px 0vw 10px 0vw;
                    } 
                }
            }
            
        }
        .sectionThree{
            background-color: $bkgroundcolor;
            padding-bottom: 15px;
            @media(min-width: 1000px){
                display: flex;
                flex-flow: row wrap;
                padding-bottom: 10px;
                margin-top: 45px;
            }

            .restaurantHeader{
                padding: 5vw 0vw 0vw 5vw;
                font-size: 6.5vw;

                @media(min-width: 1000px){
                    width: 100%;
                    padding: 0px 0vw 0vw 43px;
                    font-size: 64px;
                }
            }
            
            .restaurantCard{
                width: 90%;
                margin: auto;
                position: relative;
                margin-bottom: 5vw;
                text-decoration: none;
                color: black;
                @media (min-width:1000px){
                    width: 47%;
                }

                .imageBox{
                    width: 100%;
                    height: 0px;
                    border-radius: 5vw 5vw 0px 0px;
                    padding-top: 50%;

                    @media(min-width: 1000px){
                    border-radius: 25px 25px 0px 0px;
                    }    
                }
        

                .new{
                    position: relative;
                    color: green;
                    background-color: #99E2D0;
                    padding: 1vw 6vw;
                    border-radius: 0.5vw;
                    float: right;
                    z-index: 99;
                    position: relative;
                    top: 35px;
                    right: 40px;
                    margin-top: 0px;
                    @media (max-width: 700px){
                        top: 17px;
                        right: 20px;
                    }
                    @media (min-width: 1000px){
                        padding: 10px 38px;
                        top: 16px;
                        right: 33px;
                        font-size: 26px;
                    }
                }
               
                .restaurantInfo{
                    display: flex;
                    position: relative;
                    flex-direction: column;
                    background-color: white;
                    padding: 0vw 3vw;
                    font-size: 4vw;
                    border-radius: 0 0 5vw 5vw;
                    margin-bottom: 50px;
                    @media(min-width: 1000px){
                        padding: 1px 14px;
                        font-size: 30px;
                        margin-bottom: 0px;
                        border-radius: 0 0 25px 25px;
                    }

                    .iconContainer{
                        display: flex;
                        justify-content: flex-end;
                        position: relative;

                        .fas.fa-heart {
                            align-self: flex-end;
                            font-size: 6vw;
                            margin-right: 5vw;
                            position: absolute;
                            opacity: 0;
                            color: linear-gradient($primary, $secondary);
                            // transition: opacity 200ms;
                            background: linear-gradient($primary, $secondary);
                            background-clip: text;
                            -webkit-text-fill-color: transparent ;

                            &:hover{
                                opacity: 1;
                            }

                            &:hover + .far.fa-heart{
                                opacity: 0;
                            }
    
                            @media(min-width: 1000px){
                            align-self: flex-end;
                            font-size: 53px;
                            margin-right: 10px;
                            }
                        }
    
                            .far.fa-heart{
                            align-self: flex-end;
                            font-size: 6vw;
                            margin-right: 5vw;
                            opacity: 1;
                            
                            @media(min-width: 1000px){
                            align-self: flex-end;
                            font-size: 53px;
                            margin-right: 10px;
                            }
                        }

                    }

                    
                    h3{
                        margin-bottom: 1vw;
                        position: relative;
                        top: 3vw;
                        margin-top: 1.5vw;
                        @media(min-width: 1000px){
                            margin-bottom: 5px;
                            position: relative;
                            top: 26px;
                            margin-top: 5px;
                        }
                    }

                    p{
                        margin-top: 1vw;
                        font-weight: 400;
                        position: relative;
                        bottom: 4vw;
                        margin-bottom: 1.5vw;
                        @media(min-width: 1000px){
                            margin-top: 9px;
                            font-weight: 400;
                            position: relative;
                            bottom: 30px;
                            margin-bottom: 0px;
                        }
                    }
                    
                }            
            }         
        }
        
//Menu Pages
        header{
            font-family: $fontOne;
            .fas.fa-arrow-left{
                font-size: 165%;
                position: absolute;
                top: 9px;
                left: 30px;
                color: black;
            }
            h1{
                text-align: center;
                margin-bottom: 6px;
            }
            .pic{
                width: 100%;
                
            }
        }
        main{
            background-color: $bkgroundcolor;
            border-radius: 50px 50px 0px 0px;
            bottom: 76px;
            position: relative;

            .restaurantName{
                display: flex;
                justify-content: space-between;

                .iconContainer{
                    display: flex;
                    justify-content: flex-end;
                    position: relative;
                    bottom: 5vw;
                    right: 3vw;

                    @media (min-width: 1000px) {
                        bottom: 33px;
                        right: 102px;   
                    }

                    .fas.fa-heart {
                        align-self: flex-end;
                        font-size: 8vw;
                        margin-right: 5vw;
                        position: absolute;
                        opacity: 0;
                        color: linear-gradient($primary, $secondary);
                        // transition: opacity 200ms;
                        background: linear-gradient($primary, $secondary);
                        background-clip: text;
                        -webkit-text-fill-color: transparent ;
                        cursor: pointer;

                        @media(min-width: 1000px){
                            align-self: flex-end;
                            font-size: 83px;
                            margin-right: 10px;
                            }

                        &:hover{
                            opacity: 1;
                        }

                        &:hover + .far.fa-heart{
                            opacity: 0;
                        }

                    }

                        .far.fa-heart{
                        align-self: flex-end;
                        font-size: 8vw;
                        margin-right: 5vw;
                        opacity: 1;
                        
                        @media(min-width: 1000px){
                        align-self: flex-end;
                        font-size: 83px;
                        margin-right: 10px;
                        }
                    }

                }

            }
            
            h2{
                font-family: shrikhand;
                font-size: 2em;
                position: relative;
                top: 22px;
                left: 26px;
                margin-bottom: 50px;
            }
            
            h3{
                color:gray;
                margin-top: 10px;
                @include marginLeft();
            }
            .menuContainer{
                background-color: white;
                display: flex;
                margin: auto;
                margin-bottom: 5vw;
                border-radius: 4vw;
                width: 95%;
                height: 16vw;
                display: flex;
                flex-flow: column wrap;
                font-weight: 600;
                padding-left: 2.5vw;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

                @media(min-width: 1000px){
                    padding-left: 22px;
                    align-content: space-between;
                    margin-bottom: 32px;
                    border-radius: 45px;
                    height: 159px;
                }
                
                .dishName{
                    font-size: 1em;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

                .dishSubliner{
                    font-weight: 300;
                    width: 68vw;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;

                    @media(min-width: 1000px){
                        width: 764px;
                    }
                }

                p{
                    margin: 0;
                    padding-top: 2vw;

                    @media(min-width: 1000px){
                        padding-top: 26px;
                    }
                }

                .price{
                    height: 100%;
                    align-self: flex-end;
                    padding-top: 9vw;
                    width: 10%;

                    @media(min-width: 1000px){
                        padding-top: 100px;
                    }
                }
            
                .greenCheck{
                    background-color: $tertiary;
                    text-align: center;
                    transform: scale(0,1);
                    border-radius: 0vw 4vw 4vw 0vw;
                    height: 100%;
                    align-self: flex-end;
                    width: 0%;

                    @media(min-width: 1000px){
                        border-radius: 0 45px 45px 0;
                        }

                .fas.fa-check{
                    color: $tertiary;
                    background-color: white;
                    color: #99E2D0;
                    border-radius: 4vw;
                    padding: .8vw;
                    margin-top: 6vw;
                    font-size: 3.5vw;

                    @media(min-width: 1000px){
                        padding: 10px;
                        margin-top: 68px;
                        font-size: 35px
                    }
                }
            }

            &:hover{
                cursor: pointer;

                .greenCheck{
                    width: 15vw;
                    transform-origin: right 50%;
                    transform: scaleX(1); 
                    transition: transform 500ms ease-in-out;

                    @media(min-width: 1000px){
                        width: 160px;
                    }

                    .fas.fa-check{
                        display: inline-block;
                        transform: rotate(360deg);
                        transition: transform 400ms;
                        transition-delay: 100ms;
                    }
                }
                .dishName{
                    @media(min-width: 1000px){
                        width: 493px;
                    }
                }
                .dishSubliner{
                    width: 58vw;

                    @media(min-width: 1000px){
                        width: 493px;
                    }
                }

                .price{
                    position: relative;
                    left: 3.5vw;

                    @media(min-width: 1000px){
                    position: relative;
                    left: 100px;
                    }
                }
            }
            }
            .orderDiv{
                background-color: $bkgroundcolor;
                height: 115px;
                display: flex;
                justify-content: center;

                button{
                    @include buttonStyles;
                    padding: 2.5vw 8vw;
                    margin-top: 0vw;
                    

                    @media (min-width: 1000px){
                        padding: 27px 70px;
                        margin-top: 0px;
                    }
                   
                }
            }
            span{
                border-bottom: 3px solid $tertiary;
                padding-bottom: 4px;
            }
        }
    }

    .homePageFooter{
        position: relative;
        bottom: 0px;
        margin-top: 0;
    }

    

    footer{
        background-color: black;
        color: white;
        padding: 15px 20px 10px 20px;
        // position: relative;
        // bottom: 75px;
        font-size: .7em;
        margin-top: -76px;
        
        @media (min-width: 1200px){
            font-size: 20px;
        }

        p{
            margin-top: 0px;
            margin-bottom: 17px;
        }

        .footerLogo{
            font-family: $fontOne;
        }

        div{
            display: flex;
            flex-direction: row;

            p{
                margin-left: 12px;
            }
        
        }
    }
}