.homePageFooter{
    position: relative;
    bottom: 0px;
    margin-top: 0;
}

footer{
    background-color:#000000c4;
    color: white;
    padding: 15px 20px 10px 20px;
    font-size: .7em;
    margin-top: -76px;

    .footerContainer {
        display:flex;
        flex-direction: column;

        @media (min-width: 1000px) {
            width: 1000px;
            margin: auto;
        }

        .contact{
            color: white;
            text-decoration: none;
        }

        @media (min-width: 1000px){
            font-size: 20px;
        }

        p{
            margin-top: 0px;
            margin-bottom: 17px;
        }

        .footerLogo{
            font-family: $fontOne;
        }

        div{
            display: flex;
            flex-direction: row;

            p{
                margin-left: 12px;
            }
        }

    }
}


