.homePageFooter{
    position: relative;
    bottom: 0px;
    margin-top: 0;
}

footer{
    background-color:#000000c4;
    color: white;
    padding: 15px 20px 10px 20px;
    // position: relative;
    // bottom: 75px;
    font-size: .7em;
    margin-top: -76px;

    .contact{
        color: white;
        text-decoration: none;
    }
    
    @media (min-width: 1200px){
        font-size: 20px;
    }

    p{
        margin-top: 0px;
        margin-bottom: 17px;
    }

    .footerLogo{
        font-family: $fontOne;
    }

    div{
        display: flex;
        flex-direction: row;

        p{
            margin-left: 12px;
        }
    
    }
}


